






<div class="home-page-start">
	
		<div class="container  ">
			<div class="row d-flex g-5 d-flex justify-content-center py-5 ">
		<div class="col-md-4 col-sm-12  img1 ">

			<img src="../../assets/6.png"  alt="">

	</div>
	<div class="col-md-8 col-sm-12 ">
		<div >
			<h1 class="text-skyblue  fs-8 fw-bold font-neosansRegular text   " dir="rtl">
				<span class="">مستشفي</span> <br>  <span class="">فاطمة الزهراء</span> </h1>
		  <p class=" fs-6  text-style  text-gray "   dir="rtl">
			تسعى مستشفى فاطمه الزهراء جاهدا ليكون رائدا في مجالالرعاية الصحية الشاملة والسعي الى أعلى مستوى من الرعاية للمرضى المصابين بأمراض مزمنة لفترات طويلة الامد على مستوى الشرق الأوسط</p>
		  <!-- <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Lorem ipsum dolor sit amet consectetur adipiscing eliggr elementum pretium penatibus porta phasellunisi mattis tempor nam torquent non.</p> -->
		
		<div class="button  margin-left-35 mx-auto margin-top-5" dir="rtl">
			<a class="btn btn-primary py-3 px-5  border-0  btn-sky "  dir="ltr" >
                <i class="arrow-icon fa-solid fa-arrow-left-long"></i>  <span class="ps-2">	احجز موعدك الان</span>
			</a>
		</div>
		
		</div>
		</div>
	</div>
	</div>
     
	</div>

<!-- ***************************************************************** -->


<app-counters></app-counters>


<!-- ***************************************************************** -->
<app-about-hosbital></app-about-hosbital>
<div class="clients">
<app-client-data [clients]="clientsData"></app-client-data>
<div class="button  margin-left-50 my-5">
	<a class="btn btn-primary py-3 px-5 mb-5  mx-auto border-0  btn-sky " routerLink="clients" >
		<i class="arrow-icon fa-solid fa-arrow-left-long"></i>  <span class="ps-2">	لعرض المزيد</span>
	</a>
</div>
</div>

<div class="services">
	<app-services-data [services]="servicesData"></app-services-data>
	<div class="button  margin-left-50 my-5">
		<a class="btn btn-primary py-3 px-5 mb-5  mx-auto border-0  btn-sky " routerLink="services" >
			<i class="arrow-icon fa-solid fa-arrow-left-long"></i>  <span class="ps-2">	لعرض المزيد</span>
		</a>
	</div>
	</div>


