
<!-- about hospital div-->
 <div class="my-background-container">
<div class="container-fluid  " dir="rtl">
    <div class="row p-5 ">

          <!-- text about hosbital -->
          <div class="col-sm-12 col-md-6 position-relative  ">
                  <h2 class="about-us-text-title ">عن المستشفي</h2>
                <div class="about-us-text-content my-4 py-5">
                  تم إنشاء مستشفى فاطمه الزهراء الجديدة بالاسكندرية في عام 1990لتغير مفهوم الرعاية الصحية في مصر ليكون أكثر شمولية وذى طابع يجمع بين التركيز الشخصي على احتياجات المريض و تقديم أحسن مستوي للخدمات الطبية و الصحية.
                      
                  </div>
                  <!-- <img src="./../assets/opacity2.jfif" class="my-opacity-img w-100 h-100 "/> -->
                    <img src="./../assets/pattern2.png" class="my-opacity-img  " alt="">
                    <img src="../../assets/pattern.png" class="my-opacity-img2   " alt="">

                    
              </div>
          <!-- video container -->
          <div class="col-sm-12 col-md-6">

                <div class="myvedio">
            
                <video width="100%"  class="video rounded-4"   controls>
                <source src="../../assets/FatmaVideo.mp4" type="video/mp4" >
                
                Your browser does not support HTML5 video.
                </video>
                </div>

              </div>

  </div>

</div>

