<div class="textbar bg-color pt-2 position-relative">
    <div class="container">
       
        <div class="col text-white" dir="ltr">
           


       <div class="row  ">
        <!-- phone and email -->
         <div class="col-6 d-flex  " dir="ltr">
            <!-- phone Icon -->
            <div class="col-1 d-flex justify-content-end " >
                <p><i class="fa-solid fa-phone-flip "></i></p>
           </div>
           <!-- phone -->
            <div class="col-2 d-flex justify-content-center">
                <p class="Data-color">034262600</p>
            </div>
            <!-- Email Icon -->
            <div class="col-1 d-flex justify-content-center " >
                <p><i class="fa-solid fa-envelope"></i></p>
           </div>
           <!-- Email -->
            <div class="col-2 d-flex justify-content-start">
                <p class="Data-color">{{Email}}</p>
            </div>
         </div>   
     <!-- facebook ,gmail and youtube -->
            <div class="col-6 d-flex justify-content-start " dir="rtl" >
              <!-- facebook -->
                <a href="https://www.facebook.com/fatmaelzahraahos/?locale=ar_AR" target="	_blank" class="fs-5 Icon px-3"  >
                    <i class="fa-brands fa-facebook-f"></i>
                 </a>
           
            <!-- gmail -->
  
                <a href="" target="	_blank"  class="fs-5 Icon px-3">
                    <i class="fa-solid fa-envelope"></i>
                </a>
      
            <!-- youtube -->
    
                <a href="" target="	_blank"  class="fs-5 Icon px-3" >
                    <i class="fa-brands fa-youtube"></i>
                </a>
        
        </div>
          </div>

        </div>
        
          <!--  -->
        </div>

