<div class="counter-section">
<div class=" container counter-container m-auto">
<div class=" row  m-auto ">
    
    <div class="col-md-4   d-flex  justify-content-center">
        <span class="counter ">+{{ counters[0].count }}</span>   
    </div>
    <div class="col-md-4  d-flex justify-content-center">
        <span class="counter">+{{ counters[1].count}}</span>   
    </div>
    <div class="col-md-4  d-flex justify-content-center">
       <span class="counter ">+{{ counters[2].count }}</span >           
    </div>
  </div>
</div>
</div>