
<div class="background position-relative  py-5">
<div class="container ">
    <div class="row  row-cols-md-4 g-5 d-flex justify-content-center text-white">
        <!-- location column -->
        <div class="col-md-4">
 
<!-- hospital location map -->
     <div class="map-container">
        <!-- Embed Google Map iframe -->
         <div class="row" class="bordermap bg-dark" >

         </div>
         <div class="row">
            <h3 dir="rtl" class="pb-3" >الخريطه والاتجاهات</h3>
            

        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13664.193223865392!2d29.7844711!3d31.1083894!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f594d233d375ab%3A0xb113f5441fa0e2c!2z2YXYs9iq2LTZgdmJINmB2KfYt9mF2Kkg2KfZhNiy2YfYsdin2KEgRmF0bWEgRWx6YWhyYWEgSG9zcGl0YWw!5e0!3m2!1sar!2seg!4v1727110501507!5m2!1sar!2seg" 
            width="80%" 
            height="80%" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
    </div>
    </div>
<!-- hospital location text -->

        </div>
        <!-- logo column -->
        <div class="col-md-4">
        <div class="logo mx-auto mc-md">
            <img src="../../assets/logo.jpg" class="image " alt="fatma-elzahraa ">
        </div>
        <!-- Hospital description in footer -->
        <div class="row">
            <p class="font-neosansRegular Data-color" dir="rtl">تسعى مستشفى فاطمه الزهراء جاهدا ليكون رائدا في مجال الرعاية الصحية الشاملة والسعي الى أعلى مستوى من الرعاية للمرضى المصابين بأمراض مزمنة لفترات طويلة الامد على مستوى الشرق الأوسط</p>
        </div>
        </div>
        <!-- Connection data -->
        <div class="col-md-4  d-flex align-items-center">
            <div class="location-container">
                <h3 dir="rtl" id="contactus">للاستفسار</h3>
                <br>
                <div class="row ">
                    <div class="col-md-10 d-flex justify-content-end " dir="rtl" >
                        <p class="Data-color">بوابة 8 ، العجمي ، محافظة الإسكندرية </p>
                    </div>
                    <div class="col-2 d-flex  ">
                         <p><i class="fa-solid fa-map"></i></p>
                    </div>
                   
                </div>

                <div class="row">

                    <div class="col-md-10 d-flex justify-content-end ">
                        <p class="Data-color">034262600</p>
                    </div>
                    <div class="col-2 d-flex" >
                         <p><i class="fa-solid fa-phone-flip"></i></p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-10 d-flex justify-content-end ">
                        <p class="Data-color">{{Email}}</p>
                    </div>
                    <div class="col-2 d-flex">
                         <p><i class="fa-solid fa-envelope"></i></p>
                    </div>
                </div>
             </div>
        </div>
        <div class="row py-4 " > 
            <!-- facebook -->
            <div class="col-4 d-flex justify-content-end align-items-end">
                <a href="https://www.facebook.com/fatmaelzahraahos/?locale=ar_AR" target="	_blank" class="fs-4 Icon"  >
                    <i class="fa-brands fa-facebook-f"></i>
                 </a>
            </div>
            <!-- gmail -->
            <div class="col-4 col-4 d-flex justify-content-center align-items-center">
                <a href="" target="	_blank"  class="fs-4 Icon">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
            <!-- youtube -->
            <div class="col-4 col-4 d-flex justify-content-start align-items-center">
                <a href="" target="	_blank"  class="fs-4 Icon" >
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
          
        </div>
    
    </div>
</div>
<img src="../../assets/pattern.png" class="my-opacity-img   " alt="">
<img src="../../assets/pattern2.png" class="my-opacity-img2   " alt="">

</div>



