<div id="carouselExampleCaptions" class="carousel slide" id="slider">

	<!-- Content -->
	<div class="carousel-inner">
	  <div class="carousel-item active c">
		<img src="../../assets/counter-bg.png" class="d-block height w-100 position-relative opacity2" alt="...">
		<div class="w-100 height position-absolute top-0 start-0 slider-opacity "></div>
		
		<div class="position-absolute start-50 text-white  bottom-50">
			<!-- <span class="fw-bold fs-5 ">{{Category}} </span><br> -->
			<!-- <span class="fw-bold fs-24 ">{{Category}} </span> -->
			<!-- <span class=" fw-bold d-inline ps-1"> < </span> -->
	
	  </div>
   </div>

	
		
  </div>


