.navbar{
    background-color: white !important;
    position: sticky;
    top: 0;
    left: 0;
  
 }


/* for Active Link Style */
.ActiveLink{
    
    color: #1e2022;
    font-weight :bold;
    /* text-decoration: underline; */
    position: relative;
}
.nav-item{

}
/* for the Underline  Active Link  */
/* .navbar .ActiveLink::after{
    content: "";
    width: 50%;
    height: .2em;
   margin-inline: 20%;
    background-color: rgb(112, 113, 160);


    position: absolute;
    bottom: -2px;
    left: 0;
} */

/* .bg-body{
    background-color:rgba(246, 248, 250, 0.1);
} */
/* bg-body-tertiary */
/* Hover Link Of Navebar */
.nav-link:hover{
    color: #007EC6;
    font-weight :bold;
    /* text-decoration: underline; */
    
}
/* Logo re-Size */
.navbar .navbar-brand .logo-img{
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
}
.image{
    border-radius: 50%;
}
/* *************************************************** */
/* padding */
.pe-30{
    padding-right: 30%;
}
.ps-6{
    padding-left: 180px;;
}
/* *************************************************** */
/* width */
.w-20{
    width: 20%;
}
/* *************************************************** */
/* fonts */
.fs-12{
    font-size: 10px;
}
.fs-16{
    font-size: 14px;
}
.fs-20{
    font-size: 18px;
}
/* *************************************************** */