<app-categories-slider [Category]="Category_Name"></app-categories-slider>


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13664.193223865392!2d29.7844711!3d31.1083894!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f594d233d375ab%3A0xb113f5441fa0e2c!2z2YXYs9iq2LTZgdmJINmB2KfYt9mF2Kkg2KfZhNiy2YfYsdin2KEgRmF0bWEgRWx6YWhyYWEgSG9zcGl0YWw!5e0!3m2!1sar!2seg!4v1727110501507!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- https://maps.app.goo.gl/ee3dP2SnipwMEdUh8 -->