.height{
    height:230px;
    /* opacity: 0.7; */
}
#clients{
    color: #007EC6;
}
.slider-opacity{
    background: hsla(0, 0%, 1%, 0.5);
    padding-left: 1rem;
    padding-right: 1rem;
	padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}
.text-decoration{
    text-decoration: none;
}
.fill-white{
    fill: lightgray;
}
.start-50{
    left:55%;
}
.w-10{
    width:10%;
  }
  .w-and-h-circle{
  width: 90px;
  height: 90px;;
  }
  .card{

    background-color: rgb(253, 252, 255);
  }
/* .clients-card img:hover .clients-card{

    background-color:rgba(28, 40, 204, 0.5);


} */
.my-opacity-img{
    position:absolute;
    left:0;
    top:0;
    opacity: 0.15;
}
.LinkHandel{
    margin-inline: auto;
    text-decoration: none;
    font-size: 24px;
    
    
}
.btn-sky:hover{
        
    background: linear-gradient(-45deg, #56C2FF 20%, #007EC6 100%);
    border: 0;
  }
 /* .img-box img {
    transition: 0.3s;
} */
.clients-card{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
  /* .img-box img {
    width: 100%;
} */
.img-box img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: transform 0.5s;
}
.img-box img:hover {
transform: scale(1.12);
}
.img-box{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}
/* .img-fluid {
    max-width: 100%;
    height: auto;
} */
img {
    vertical-align: middle;
}


